<h1>Topics</h1>

<%= stylesheet_link_tag "homepage.css" %>

<ul class="img-list">
	<li>
	<a href="#">
	<img src="images/dessert_tomato-cake-750x350.jpg">
	<span class="text-content">
	<span>Desserts</span>
	</span>
	</a>
	</li>

	<li>
	<a href="#">
	<img src="images/soup_thai-coconut-750x350.jpg">
	<span class="text-content">
	<span>Soups</span>
	</span>
	</a>
	</li>

	<li>
	<a href="#">
	<img src="images/salad_kale-750x350.jpg">
	<span class="text-content">
	<span>Salads</span>
	</span>
	</a>
	</li>

	<li>
	<a href="#">
	<img src="images/meat_chicken-750x350.jpg">
	<span class="text-content">
	<span>Meat/Poultry</span>
	</span>
	</a>
	</li>

	<li>
	<a href="#">
	<img src="images/seafood_cod-750x350.jpg">
	<span class="text-content">
	<span>Seafood</span>
	</span>
	</a>
	</li>

</ul>