<h1>Your Post feed</h1>

<ul>
<% current_user.followeds.each do |user| %>
	<h2><%= user.fname %></h2>
	<% user.posts.each do |post| %>
		<li><%= post.body %></li>
	<% end %>
<% end %>
</ul>

<%= link_to 'back to users', users_path %>