<h1><%= @post.body %></h1>
<p>by <%= @post.user.fname %>

<p> Comments: </p>

<ul>
	<% @post.comments.each do |comment| %>
		<li><%= comment.body %> | <%= link_to 'Edit', edit_post_comment_path(@post, comment) %></li>
	<% end %>
</ul>